* {
  scroll-behavior: smooth;
}
.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  align-items: center;
}

button {
  background-color: #2980b9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #3498db;
  transition: all 1s ease-in-out;
  font-size: 1.1em;
}
button:active {
  background-color: #2980b9;
  transform: translateY(2px);
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
nav a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 7px;
  display: block;
  font-size: 1.2em;
  width: 100%;
}
nav a:hover {
  background-color: #2383b3;
  padding: 8px 7px;
  transition: all 0.7s ease;
  border-radius: 5px;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0%;
}
nav ul li {
  margin: 5px;
}
nav ul li a.about-btn {
  background-color: #2383b3;
  padding: 8px 7px;
  border-radius: 5px;
}
main,
footer {
  margin-left: 290px;
  padding: 20px 40px 0 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #ecf0f1;
}
footer {
  margin-top: 1%;
  padding-bottom: 1%;
}
.certs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #11565b;
  padding: 2% 0;
  color: white;
  text-align: center;
}

.certificate-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: fill;
}

.platforms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  text-align: center;
}
main a {
  text-decoration: none;
  color: #2980b9;
  font-weight: bold;
  font-size: 1.2em;
}
main a:hover {
  background-color: #2c3e50;
  color: white;
  padding: 0 3px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 544px) {
  body {
    margin: 0;
  }
  header {
    width: 91%;
    height: 100vh;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 3px solid #2980b9;
  }

  nav a {
    font-size: 1.5em;
    padding: 5px;
  }
  main,
  footer {
    margin: 2%;
    padding: 20px;
  }
  .certs-container {
    flex-direction: column;
    align-items: center;
  }

  .certificate-image {
    width: 80%;
    height: 70%;
    display: block;
    margin: 0 auto;
  }
  .profile-image {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 545px) and (max-width: 768px) {
  header {
    width: 200px;
  }
  main,
  footer {
    margin-left: 240px;
    padding: 20px;
  }
  footer {
    margin-top: 2%;
  }
}
